{% extends 'base.html.twig' %}

{% block title %}Welcome to jellu{% endblock %}

{% block body %}
    <section>
        {% include "components/_left_sidebar.html.twig" %}
    </section>
    <section class="flex-1 flex flex-col justify-center items-center lg:ml-64">
        {% for thread in threads %}
            {% include "components/_card.html.twig" %}  
        {% endfor %} 
    </section>
    <section class="w-80 hidden xl:block">
        {% include "/components/_right_sidebar.html.twig" %}
    </section>
{% endblock %}
