{% extends 'base.html.twig' %}

{% block title %}Welcome to jellu{% endblock %}

{% block body %}
    <section>
        {% include "components/_left_sidebar.html.twig" %}
    </section>
    <section class="flex-1 flex flex-col justify-center items-center lg:ml-64">
        {% include "components/_card.html.twig" %}
    </section>
    <section class="w-64 hidden xl:block">
        Right Sidebar
    </section>
{% endblock %}
