{% extends "base.html.twig" %}
{% block title %}j/{{thread.getSubreddit.title}} - {{thread.title}}{% endblock %}

{% block body %}
    <section>
        {% include "components/_left_sidebar.html.twig" %}
    </section>
    <section class="flex-1 flex flex-col justify-center items-center lg:ml-64">
        {% include 'components/_thread_show.html.twig' %}
    </section>
    <section class="w-80 hidden xl:block">
        {% include "/components/_community_rightbar.html.twig" %}
    </section>
{% endblock %}

