<div id="left-sidebar" class="hidden lg:block w-64 bg-gray-800 text-white h-screen p-4 fixed">
    <div class="flex-1 max-w-sm md:hidden py-2">
            <input type="text" class="text-black w-full p-2 border border-gray-300 rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Search Reddit">
    </div>
    <ul>
        <li><a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 rounded-full">Home</a></li>
        <li><a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 rounded-full">Popular</a></li>
        <li><a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 rounded-full">All</a></li>
        <li><a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 rounded-full">Sports</a></li>
        <li><a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 rounded-full">Gaming</a></li>
        <li><a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 rounded-full">News</a></li>
    </ul>
</div>