<div class="bg-white rounded-lg shadow-md p-4 sticky  overflow-auto" style="top: 4rem; max-height: calc(100vh - 4rem);">
    <h2 class="text-lg font-semibold text-gray-900 mb-4">Popular Communities</h2>
    <ul id="community-list" class="space-y-2">
            <li>
                <a href="#" class="flex items-center space-x-2 hover:bg-gray-100 p-2 rounded-lg">
                    <img src="https://placehold.co/200" alt="" class="w-8 h-8 rounded-full">
                    <span class="text-sm font-semibold text-gray-700">Community 1</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-2 hover:bg-gray-100 p-2 rounded-lg">
                    <img src="https://placehold.co/200" alt="" class="w-8 h-8 rounded-full">
                    <span class="text-sm font-semibold text-gray-700">Community 1</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-2 hover:bg-gray-100 p-2 rounded-lg">
                    <img src="https://placehold.co/200" alt="" class="w-8 h-8 rounded-full">
                    <span class="text-sm font-semibold text-gray-700">Community 1</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-2 hover:bg-gray-100 p-2 rounded-lg">
                    <img src="https://placehold.co/200" alt="" class="w-8 h-8 rounded-full">
                    <span class="text-sm font-semibold text-gray-700">Community 1</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-2 hover:bg-gray-100 p-2 rounded-lg">
                    <img src="https://placehold.co/200" alt="" class="w-8 h-8 rounded-full">
                    <span class="text-sm font-semibold text-gray-700">Community 1</span>
                </a>
            </li>
    </ul>
    <button id="see-more-button" class="mt-4 text-blue-500 hover:text-blue-700">See More</button>
</div>